.home.page {
	.main {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
}

.home.page {

	.divider-1 {
		margin: 10px 0px;
		border-bottom: 2px solid $white_primary;
		opacity: 1;
		padding-left: 0;
		width: 300px;
	}

	.wpb_text_column {
		margin-bottom: 10px;

		h2 {
			margin-bottom: 25px;
		}

		h2, p {
			color: $white_primary;
		}
	}
	
	h2 {
		padding-bottom: 25px;
		background: url(../images/header_border.gif) left bottom no-repeat;
		border-bottom: 0 none;
		font-size: 2.2em;
		font-weight: 400;
	}

	h4 {
		padding-bottom: 4px;
		padding-top: 2px;
	}

	.row-eq-height-1 {
		min-height: 300px;
		.vc_column-inner {
			height: 100%;
			min-height: 300px;
		}
	}


	/* CONTACT SECTION */
	.nf-form-cont {
		max-width: 500px;
	}

	.text-block-large {
		min-height: 400px;
	}

	.text-block, .text-block-large {
		@media (max-width: 1199px) {
			.vc_column-inner {
				padding: 2rem 3rem !important;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {
			.vc_column-inner {
				padding: 1rem 2rem !important;
			}
		}
		@media (max-width: 767px) {
			.vc_column-inner {
				padding: 2rem !important;
			}
		}
	} 

	.lets-talk {
		padding-right: 40px;
		padding-left: 40px;
		padding-top: 50px;
		padding-bottom: 90px;

		.vc_column-inner {
			max-width: 700px;
			float: right;
		}
	}

	.contact-image {
		min-height: 300px;
		.vc_column-inner {
			background-size: cover;
		}
	}
	/* END CONTACT SECTION */
}

