/* MAIN SLIDESHOW */
.ms_slideshow {

	.ms_slide {
		&:focus {
			outline: none;
		}
	}

}

.ms_slide {

	text-align: center;
	background-position: center center;
	background-size: cover;

	div.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(90, 76, 76, 0.6);

		.container {
			max-width: 705px;
		}

		h1 {
			padding-top: calc(40vh - 100px) !important;
			margin-top: 0 !important;
			font-size: 60px;
			text-transform: none;
			font-weight: 400;
			font-style: normal;
			// padding-left: 32%;
			// padding-right: 32%;
			opacity: 1;
			border: none;
			@include doFadeTrans();

			@media (max-width: 1310px) {
				// padding-left: 26%;
    			// padding-right: 26%;
			}

			@media (max-width: 1199px) {
				// padding-left: 18%;
				// padding-right: 18%;
				font-size: 56px;
			}

			@media (max-width: 991px) {
				// padding-left: 10%;
				// padding-right: 10%;
			}

			@media (max-width: 768px) {
				font-size: 42px;
				margin-top: 0vh !important;
				text-align: center;
			}
			@media (max-width: 545px) {
				padding-top: calc(35vh - 100px) !important;
				font-size: 25px;
				margin-bottom: 0;
			}

			&.no_subtext {
				margin-top: 26vh !important;
			}

		}

		h4 {
			font-weight: bold;
			line-height: 18px;
    		font-size: 20px;
			opacity: 1;
    		margin: 0 auto;
			@include doFadeTrans();
			padding-top: 10px;

			a {
				padding: 18px 35px;
				padding-right: 45px;
				width: 328px;
				height: 60px;
				text-decoration: none;
				color: $white_primary;
				background: $green_primary;
				text-transform: none;
				border-radius: .3rem;
				border-bottom: 1px solid #2d2626;
				line-height: 1.333333;
				letter-spacing: normal;
				background-image: url(../images/icon_arrow_featured.png);
				background-position: 95% center;
    			background-repeat: no-repeat;

				@media (max-width: 991px) {
					font-size: 17px;
					padding: 10px 25px;
					padding-right: 35px;
				}

				@media (max-width: 767px) {
					font-size: 15px;
    				letter-spacing: 1px;
				}

				&:focus {
					outline: none;
				}

				.fa {
					padding-left: 20px;
				}
			}

			@media (max-width: 767px) {
				margin-top: 15px;
			}
			@media (max-width: 545px) {
				margin-top: 0;
			}

		}
	}

	

	&.white {
		h1, h4 {
			color: $white_primary;
		}
	}

	&.black {
		h1, h4 {
			color: $black_primary;
		}
	}

	@media (min-width: 1199px) {
		background-position: 25% 25%;
	}

	@media (max-width: 600px) {
		h1 {
			//margin-top: 15vh;
			font-size: 40px;
		}

		h4 {
			margin-top: 20px;
			font-size: 12px;
		}
	}

	@media (max-width: 500px) {
		h1 {
			font-size: 35px;
			margin-top: 10vh;
		}
	}

}

.ms_slideshow, .ms_slide {
	//max-height: 700px;
	//min-height: 600px;
	min-height: calc(100vh - 100px);
    width: 100%;

	@media (max-width: 991px) {
		min-height: calc(100vh - 100px);
		background-size: cover !important;
		background-position: center center !important;
	}
}



.pagingInfo {
	opacity: 0;
	width: 50px;
	height: 50px;
	position: relative;
	text-align: center;
	display: block;
	padding-top: 13px;
	font-family: $font_primary;
	@include doFadeTrans();

	.slide-current {
		top: 10px;
		position: absolute;
		z-index: 1;
		left: 12px;
		@include doFadeTrans();
	}

	.line {
		width: 0;
		height: 42px;
		border-bottom: 1px solid white;
		-webkit-transform: translateY(25px) translateX(21px) rotate(-49deg);
		position: absolute;
		top: -33px;
		left: -13px;
		@include doFadeTrans();
		-webkit-transition-delay: 0.2s; /* Safari */
    	transition-delay: 0.2s;
	}

	.slide-total {
		top: 22px;
		position: absolute;
		z-index: 1;
		right: 12px;
		@include doFadeTrans();
	}
}




.slick-prev-past, .slick-next-past {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 50px;
    background: $slick_arrow_bg;
	top: 40%;
	overflow: hidden;
	color: $white_primary;
	cursor: pointer;
	@include doFadeTrans();
	
	&:hover {
		width: 100px;
		background: $slick_arrow_bg_hover;
		@include doFadeTrans();

		.pagingInfo {
			opacity: 1;
			@include doFadeTrans();
			.line {
				width: 36px;
				@include doFadeTransSlow();
    			-webkit-transform: translateY(24px) translateX(5px) rotate(-49deg);
			}
		}
	}
}



.slick-prev-past {
	border-radius: 0 5px 5px 0;

	i {
		display: block;
		width: 50px;
		height: 50px;
		float: left;
		&:before {
			position: absolute;
			left: 12px;
			font-size: 30px;
			top: 9px;
		}
	}
	.pagingInfo {
		float: right;
	}
}


.slick-next-past {
    right: 0;
	border-radius: 5px 0 0 5px;

	i {
		display: block;
		width: 50px;
		height: 50px;
		float: right;
		&:before {
			position: absolute;
			right: 12px;
			font-size: 30px;
			top: 9px;
		}
	}
	.pagingInfo {
		float: left;
	}
}