.btn_main {
	background-color: $black_primary;
	color: $white_primary;

	box-shadow: 0 -1px;
	text-transform: uppercase;

	border-radius: 2px;
	padding: 8px 14px;
	padding-bottom: 10px;

	border: none;
	@include doFadeTransFast();

	&:hover {
		opacity: 0.75;
	}



	a {
		font-family: $font_primary;
		color: $white_primary;
		font-size: 11px;
		letter-spacing: 2px;
		border-bottom: 1px solid $grey_primary;
	}
}

.btn_wrapper {
	&.center {
		text-align: center;
	}
}

.comment-form input[type="submit"] {
    color: #fff;
    background-color: $black_secondary;
    border-color: $black_secondary;
	font-size: 12px;
	border-radius: 4px;
	line-height: initial;

	&:hover, &:focus {
		background-color: $black_primary;
    	border-color: $black_primary;
		outline: none;
	}
}
    


/** MAIN BUTTON **/

.btn_secondary {

	font-family: $font_primary;
    letter-spacing: 4px;

    position: relative;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 400;
    color: $black_secondary;
    border-color: $black_secondary;
    border-width: 1px;
    border-style: solid;
    z-index: 1;
    background-color: transparent;
    line-height: 1.8;
    -webkit-font-smoothing: auto;

    &:focus {
    	text-decoration: none;
    	outline: none;
    	color: $black_secondary;
    }
    
    .hover-bg {
        height: 100%;
        width: 0%;
        background: $green_primary;
        position: absolute;
        z-index: -1;
        top: 0%;
        left: 50%;
        
        animation: minButton 0.6s ease-in-out forwards;
    }
    
    .stick {
        
        width: 1px;
        height: 20px;
        
        top: 50%;
        margin-top: -10px;
        
        position: absolute;
        

        &:before {

            background-color: $black_secondary;
            width: 1px;
            height: 20px;
            position: absolute;
            top: 0;
            content: '';
            display: block;
            transform: rotate(-90deg);
        }
    }
    
    .stick[data-direction=left] {

        left: 0;
        margin-left: -1px;
        
        -webkit-transition: -webkit-transform .7s, opacity 0.9s ease-in-out;
        transform: translate(0px);
        opacity: 1;

    }

    .stick[data-direction=right] {

        right: -1px;
        left: auto;

        -webkit-transition: -webkit-transform .7s, opacity 0.9s ease-in-out;
        transform: translate(0px);
        opacity: 1;

    }
    
    /* Button Hover */
    &:hover {

        -webkit-transition: color 0.8s ease-in-out;
        color: $white_primary;
        border-color: $green_primary;
        -webkit-transition: border-color 0.6s ease-in-out;


        .stick[data-direction=left] {

            -webkit-transition: -webkit-transform .5s, opacity 0.3s ease-in-out;
            transform: translate(-22px);
            opacity: 0;
        }

        .stick[data-direction=right] {

            -webkit-transition: -webkit-transform .5s, opacity 0.3s ease-in-out;
            transform: translate(22px);
            opacity: 0;
        }

        .hover-bg {
            opacity: 1;
            animation: expandButton 0.3s ease-in-out forwards;
        }
    }

    @keyframes expandButton {
        100% {
            width: 100%;
            left: 0%
        }
    }

    @keyframes minButton {
        0% {
            width: 100%;
            opacity: 1;
            left: 0
        }
        100% {
            width: 100%;
            left: 0;
            opacity: 0
        }
    }

}


.btn_footer {
    padding: 1.5rem 2.5rem;
    border-radius: 3px;
    background-color: $brown_primary;
    border-color: #5a4c4c;

    &:hover {
        color: $white_primary;
        background-color: $black_primary;
    }
    &:active {
        color: $white_primary;
    }

    @media (max-width: 767px) {
        padding: 0.7rem 2.5rem;
    }
}