.comment-list {
  @include list-unstyled;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}


// comment box
.comment-form textarea {
    padding: 10px!important;
    max-width: 100%;
    width: 100%;
    border: 0px;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #555;
    background-color: #efefef;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;

    &:focus {
      outline: none;
      border-radius: 0;
      border-bottom: 1px solid #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
      -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    }
}