// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

/* CONTACT FORM */
.nf-form-cont {

	.nf-form-title, .nf-form-fields-required {
		display: none;
	}

	input[type="text"], input[type="email"], input[type="tel"], textarea, select {
		padding: 12px;
		border: 1px solid $form_border;
		background-color: $form_bg;
		-webkit-appearance: none;
		border-radius: 2px;
		-moz-appearance: none;
		box-shadow: none;

		&:focus {
			outline: none;
		}
	}

	label {
		color: $form_label;
	}

	.nf-form-errors {
		padding-bottom: 10px;
	}

	$error_color: #000;

	.nf-error .ninja-forms-field {
		border-color: $error_color;
	}

	.ninja-forms-req-symbol, .nf-error-msg {
		color: $error_color;
	}

	.nf-form-fields-required {
		font-family: $font_primary;
	}

	.nf-field-container {
		margin-bottom: 10px;
		clear: none !important;
	}

	.nf-error-required-error {
		font-size: 11px;
	}

	.nf-error-msg.nf-error-field-errors {
		font-family: $font_primary;
		text-transform: uppercase;
	    font-size: 9px;
	    letter-spacing: 2px;
	}

	.recaptcha-container {
		display: block;
		width: 100%;
		float: left;
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 15px;

		.g-recaptcha {

			@media (max-width: 580px) {
				transform:scale(0.77);
				-webkit-transform:scale(0.77);
				transform-origin:0 0;
				-webkit-transform-origin:0 0;
			}

		}
		
	}
  

	input[type="button"] {
		background-color: $green_primary;
		color: $white_primary;
		box-shadow: 0 -1px;
		border-radius: 3px;
		padding: 15px 50px;
		border: none;
		font-family: $font_primary;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 2px;
		border-bottom: 1px solid $grey_primary;

		@include doFadeTransFast();

		&:hover {
			background-color: $brown_primary;
		}

	}
}

#nf-form-4-cont {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}