
h3#brochure_toggle {
    font-family: $font_primary;
    color: $brand_primary;
    opacity: 0;
    color: #ffffff;
    text-shadow: none;
    padding: 20px;
    font-size: 18px;
    margin: 0;
    display: block;
    pointer-events: none;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 400px;
    z-index: 9999;
    border: 1px solid $white_primary;
    border-bottom: 0;
    border-right: 0;
    background-color: $brown_primary;
    text-align: center;
    transform: translateY(70px);
    cursor: pointer;
    @include doFadeTransSlow();

    i {
        margin-left: 5px;
    }

    &:hover {
        background-color: #292222;
    }

    @media (max-width: 991px) {
        width: auto;
    }

    &.active {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }
}


.primary_popup_form {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: 400px;
    height: auto;
    background-color: rgba(128, 183, 165, 0.8);
    @include doFadeTransSlow();
    font-family: $font_primary;
    padding-top: 30px;
    border: 1px solid $white_primary;

    .pdf-close-button {
        color: $white_primary;
        font-size: 30px;
        position: absolute;
        right: 15px;
        top: 5px;
        cursor: pointer;
        @include doFadeTrans();

        &:hover {
            color: $brown_primary;
        }
    }

    .gform_body {
        color: $white_primary;
    }

    .gform_confirmation_wrapper  {
        font-family: $font_secondary;
        text-align: center;
        padding: 50px 0;

        #pdf_download {
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                width: 0%;
                height: 100%;
                top: 0;
                left: 0;
                background: $white_primary;
                pointer-events: none;
            }

            &:hover {
                color: $brand_primary;
                &:after {
                    width: 100%;
                }
            }
        }
    }

    .gform_wrapper ul.gform_fields li.gfield {
        padding-right: 0;
        font-family: $font_primary;
        font-weight: 900;
        margin-top: 0 !important;
        &:last-child {
            margin-bottom: 10px;
        }
    }

    .gform_wrapper .gfield.gfield_error {
        padding-right: 0 !important;
    }

    .ginput_container {
        margin-top: 0 !important;
    }

    .gform_wrapper input[type='text'] {
        height: 40px;
        color: $black_primary;

        &:focus, &:active {
            outline: none;
            text-decoration: none;
        }
    }
    .gform_wrapper input {
        padding: 0 1.475rem !important;
        text-transform: none;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .gform_wrapper .gform_footer {
        padding: 0;
        margin: 0;

        #gform_submit_button_ {
            margin: 0;
            padding: 10px 25px;
            display: block;
            width: 100%;
        }
    }

    .gfield_html {
        margin-bottom: 10px !important;
        font-family: $font_secondary;
    }

    .validation_error {
        display: none;
    }

    .gfield_description {
        margin-bottom: 5px !important;
        margin-top: 5px;
        padding: 0 !important;
    }

    .gform_confirmation_message {
        color: $white_primary;

        #pdf_download {
            width: 100%;

            span {
                white-space: normal;
            }
        }
    }

    @media (max-width: 1024px) {
        background-color: rgba(128, 183, 165, 0.91);
        bottom: unset;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.17);
    }

    @media (max-width: 480px) {
        width: 80vw;
    }

    .btn {
        background: none;
        cursor: pointer;
        padding: 15px 30px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        border: 1px solid $white_primary;
        color: $white_primary;
        border-radius: 0px;
        margin-top: 20px;

        span {
            letter-spacing: 2px;
            position: relative;
            z-index: 2;
            &:active {
                outline: none;
            }
        }

        &:after {
            display: none;
        }
    
        // &:after {
        //     content: '';
        //     position: absolute;
        //     z-index: 1;
        //     -webkit-transition: all 0.3s;
        //     -moz-transition: all 0.3s;
        //     transition: all 0.3s;
        //     width: 0%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        //     background: $white_primary;
        //     pointer-events: none;
        // }
    
        &:hover {
            color: $black_primary;
            // &:after {
            //     width: 100%;
            // }
        }
    
        &:focus, &:active {
            outline: none;
            //color: $white_primary;
            color: $white_primary !important;
        }
    
    }
    


    &.pdf-close {
        bottom: -100%;
        pointer-events: none;
        opacity: 0;

        @media (max-width: 1024px) {
            bottom: unset;
        }

        .pdf-close-button {
            opacity: 0;
            pointer-events: none;
        }

        .gform_wrapper {
            opacity: 0;
            pointer-events: none;
        }

    }

}