.service_notes {

	//background-color: #f45;

	h2 {
		font-size: 22px;
		font-weight: 600;
		line-height: 36px;
		text-transform: uppercase;
		text-align: center;
	}

	ul li {
		font-family: $font_primary;
		font-size: 12px;
		line-height: 22px;
		color: $black_secondary;
	}

	.single_note {
		margin-top: 40px;
	}

	.boxed {

		background-color: #fff;
		padding: 10px;
		padding-bottom: 20px;

		position: relative;

		box-shadow: 0 2px 3px rgba(0,0,0,0.1);
		border-top: 1px solid rgba(144, 144, 144, 0.1);

		@include doFadeTransFast();

		&:hover {
			box-shadow: 0 2px 3px rgba(0,0,0,0.3);
			margin-top: -4px;
		}

		.bottom-line {
			height: 1px;
		    width: 100%;
		    display: block;
		    position: absolute;
		    bottom: 2px;
		    left: 0px;
		    background-color: #E8E8E8;
		}

		@media (min-width: 480px) {
			//padding-right: 30px;
		}
	}
	
	padding-bottom: 80px;

}