.ms_surfaces {
    width: 100%;
    height: 730px;
    margin-bottom: 1.5rem;

    > li {

        > .inner {
            padding-top: 428px;
            height: 730px;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: auto 450px;

            > .title {
                padding-top: 42px;

                > .border {
                    width: 100%;
                    height: 230px;
                    padding: 0 14px;
                    border-left: 1px solid $green_secondary;

                    @media (min-width: 1200px) {
                        padding-left: 30px;
                        padding-right: 30px;
                    }

                    @media (min-width: 992px) {
                        padding-left: 22px;
                        padding-right: 22px;
                    }
                }
            }

            h3 {
                color: $green_primary;
                font-family: $font_primary;
                font-weight: 400;
                font-size: 20px;
                display: block;
                width: 230px;
                margin-bottom: 0;
                position: relative;
                top: 230px;
                -ms-transform: rotate(270deg);
                -ms-transform-origin: 0 0;
                -webkit-transform: rotate(270deg);
                -webkit-transform-origin: 0 0;
                transform: rotate(270deg);
                transform-origin: 0 0;
            }
        }

        &.kwicks-selected, &.kwicks-expanded {
            > .inner {
                > .title {
                    background: url(../images/accordion_arrow.png) center top no-repeat;

                    > .border {
                        border-color: #453736;
                    }

                    h3 {
                        color: #453736;
                    }
                }
            }
        }
    }
}

.ms_surfaces_mob {
    height: 600px;
    margin-bottom: 1.5rem;
    
    > li {
        width: 100%;

        > .inner {
            width: 100%;
            height: 100%;

            > .title {
                float: left;
                width: 50%;
                height: 100%;
                background-color: $white_primary;

                > .border {
                    width: 90%;
                    height: 100%;
                    padding: 14px 20px;
                    border-top: 1px solid $green_secondary;
                    
                    @media (min-width: 1200px) {
                        padding-left: 30px;
                        padding-right: 30px;
                    }

                    @media (min-width: 992px) {
                        padding-left: 22px;
                        padding-right: 22px;
                    }
                }
            }

            h3 {
                color: $green_primary;
                font-family: $font_primary;
                margin-bottom: 0;
                margin-top: 0;
                font-size: 16px;
                font-weight: 400;
            }
        }

        &.kwicks-selected, &.kwicks-expanded {
            > .inner {
                > .title {

                    // > .border {
                    //     border-color: #453736;
                    // }

                    // h3 {
                    //     color: #453736;
                    // }
                }
            }
        }
    }
}