body {
	background-color: $white_primary;
  font-family: $font_primary;
  @include doFadeTrans();
  padding-top: 110px;
  overflow-x: hidden;

  .wrap.container-fluid {
    @include doFadeTrans();

    // @media (max-width: 464px) {
    //   padding-left: 0;
    //   padding-right: 0;
    // }
  }

  &.display-amorini {
    .wrap.container-fluid {
      @include doFadeTrans();
      padding-left: 320px;
      margin-right: -320px;

    }
  }

  @media (max-width: 991px) {
      padding-top: 110px;
  }

  @media (min-width: 544px) and (max-width: 767px) {
      padding-top: 124px;
  }

  @media (max-width: 543px)  {
      padding-top: 114px;
  }  

  @media (max-width: 464px)  {
      padding-top: 133px;
  }  
}

body.nav-expanded {
  margin-left: -65vw;
  @include doFadeTransSlow();
}

$content_padding_top: 50px;
$content_padding_bottom: 40px;

.page-template-template-container .main, .page-template-template-clients .main {
  //padding-top: $content_padding_top;
  &.add_padding {
    padding-bottom: $content_padding_bottom;
  }
}


.main_container.container {
	//margin-bottom: 50px;
  @media (max-width: 1020px) {
      width: 100% !important;
  }
  // @media (max-width: 464px) {
  //   padding-left: 0;
  //   padding-right: 0;
  // }
}

h1, h2, h3, p {
	font-family: $font_primary;
	color: $black_primary;
}

h1 {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $green_secondary;
  font-size: 2.5rem;

  &.green {
    color: $green_primary;
  }

  &.white {
    color: $white_primary;
  }

}


h4 {
  font-family: $font_primary;
  font-size: 14px;
  letter-spacing: 2px;
  color: $black_secondary;
  text-transform: uppercase;
}

p {
  font-family: $font_primary;
  color: $brown_primary;
	line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

a {
	color: $black_primary;
  @include doFadeTransFast();
	&:hover {
		text-decoration: none;
	}
  &:focus, &:active {
      outline: none;
  }
}

.dark_row {
	background-color: $black_primary;

	p, a {
		color: $white_primary;
	}
}

.light_row {
	background-color: $white_primary;

	p, a {
		color: $black_secondary;
	}
}

.grey_row {
	background-color: #f8f8f8;
  background-image: url(https://www.transparenttextures.com/patterns/clean-textile.png);

	p, a {
		color: $black_secondary;
	}
}

.text-block {

  @media (max-width: 768px) {
      &.pull {
        top: 0;
        position: absolute;
      }
  }

}

.image-block {

  &.visible-mobile {
    display: flex;
    @media (min-width: 768px) {
      display: none;
    }
  }
  @media (max-width: 768px) {
    min-height: 28rem;
  }
}


.empty-space {
  height: 130px;

  @media (max-width: 991px) {
    height: 90px;
  }

  @media (max-width: 768px) {
    height: 45px;
  }

  &.brown {
    background: $brown_primary;
  }
}



/*--------------------------------------------------------------
STYLING TO VERTICALLY MIDDLE ALIGN MENU BASED ON LOGO SIZE - Applicable to header-v1,..
--------------------------------------------------------------*/

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}
.inside-full-height {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
