// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #85baa8;

$green_primary: #85baa8;
$green_secondary: #daeae5;

$brown_primary: #5a4c4c;

$grey_primary: #eeeded;
$grey_secondary: #fff;

$white_primary: #fff;


$font_primary: Raleway, Arial, Helvetica, sans-serif;
$font_secondary: 'Roboto', sans-serif;

$black_secondary: #000;
$black_primary: #000;


$form_bg: #f8f8f8;
$form_border: #e1e1e1;
$form_label: #666;

$link_color: #5a4d4c;
$link_hover: #629080;

$red_secondary: #fff;

$header_border: #ddd;
$video_overlay: rgba(0,0,0,0.8);
$menu_shadow: rgba(0, 0, 0, 0.2);

$slick_arrow_bg: rgba(0,0,0,0.4);
$slick_arrow_bg_hover: rgba(0,0,0,0.8);

$hamburger-layer-color : #fff;
$hamburger-layer-border-radius: 0;
$hamburger-layer-width : 25px;
$hamburger-layer-height : 3px;
$hamburger-layer-spacing: 5px;

$header_height: 75px;
$header_height_extras: 80px;
$stickey_header_height: 80px;
$stickey_header_height_extras: 85px;


@mixin doFadeTransSlow() {
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
}

@mixin doFadeTrans() {
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

@mixin doFadeTransFast() {
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

@mixin doHStyle() {
	font-family: $font_primary;
	font-size: 14px;
	letter-spacing: 2px;
	color: $black_secondary;
	text-transform: uppercase;
}