$font_dir: '../fonts/';

/* _simple-font-url('Chunkfive', 'eot'); */
@function _simple-font-url($name, $extension)
{
    @return url($font_dir + $name + '.' + $extension);
}

/* _full-font-url('Chunkfive', 'woff', 'embedded-opentype', '?#iefix'); */
@function _full-font-url($name, $extension, $format, $hash: '')
{
    @return url($font_dir + $name + '.' + $extension + $hash) format($format);
}

/* register-font('Chunkfive'); */
@mixin register-font($name)
{
    @font-face {
        font-family: $name;
        font-style: normal;
        font-weight: normal;
        src: _simple-font-url($name, 'eot');
        src: _full-font-url($name, 'woff', 'embedded-opentype', '?#iefix'),
             _full-font-url($name, 'ttf', 'truetype'),
             _full-font-url($name, 'svg', 'esvg', '?#' + $name);
	}
}


// Old retro font for BRAVO
//@include register-font('catorze27style1-black');
//@include register-font('catorze27style1-bold');
//@include register-font('catorze27style1-semibold');
//@include register-font('catorze27style1-medium');
//@include register-font('catorze27style1-light');
//@include register-font('catorze27style1-thin');

// Artist lineup font
//@include register-font('bebasneue_regular-webfont');
@include register-font('Lato-Light');
//@include register-font('Oswald-Light');
//@include register-font('Oswald-Regular');
//@include register-font('Oswald-Bold');
//@include register-font('Novecentowide-Medium');
//@include register-font('mensch-bold-wf');
//@include register-font('mensch-inline-wf');
//@include register-font('mensch-thin-wf');
//@include register-font('mensch-wf');
//@include register-font('Novecentowide-Normal');
//@include register-font('lavanderia-webfont');