.error404, .search {
    .content {
        > .container {
            padding-top: 30px;
            padding-bottom: 40px;

      
            .page-header {
                margin: 30px 0;
                border-bottom: 1px solid $green_secondary;

                .page-title {
                    text-align: center;
                    margin-bottom: 0;

                    h2 {
                        color: $green_primary;
                        font-size: 3.9rem;
                        padding-bottom: 1.5rem;
                        font-weight: normal;
                    }
                }
            }

            .entry-title {
                font-weight: 600;
                font-style: italic;
            }

            .results {
                padding: 0;
                font-family: $font_primary;
                font-size: 12px;

                p {
                    margin-bottom: 0;   
                    line-height: 12px;

                    a {
                        color: $green_primary;
                        text-decoration: underline;
                    }
                }

                .return-text {
                    display: inline-block;
                    padding: 10px 0;

                }
            }

        }
    }

    

}