/* MEET OUR DIRECTOR */
.meet-our-director {
	h1 {
		margin-top: 0px;
	}
}

/* EXCLUSIVE - EAT AND TWEET ETC */
.exclusive {
	h2 {
		margin-top: 0px;
		font-weight: 600;
		font-size: 22px;
	}
}

/* CLIENTS */
.page-template-template-clients {

	h1 {
		margin-top: 0px;
	}
	
	.client-logos {
		//background-color: $white_primary;
		img {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: 100%;
			padding-bottom: 80px;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.page-template-template-container {
	h1 {
		margin-top: 0px;
	}


	.text-block-large {
		min-height: 400px;
		h2 {
			margin-bottom: 20px;
			font-size: 2.2em;
    		font-weight: 400;
		}
	}
}

.page-template-template-container.collection {

	span.newline {
		display: inline-block;
		width: 3vw;

		@media (max-width: 480px) {
			display: block;
		}
	}

	span.newline-break {
		display: block;

		@media (max-width: 480px) {
			height: 30px;
		}
	}

	.wpb_raw_html {
		margin-bottom: 0;
	}

	.sub-title {
		p {
			color: $green_primary;
			font-size: 23px;
			line-height: 35px;
			font-weight: 300;
			padding-bottom: 25px;
		}
	}

	.text-note {
		p {
			font-size: 13px;
		}
	}

	.table {
		color: $brown_primary;
		font-size: 14px;
		p {
			font-size: 14px;
		}
	}
}

.page-template-template-container.contact {

	.main {
		padding-top: 0px;
	}
	
	/* Contact us page form style */
	.nf-form-cont {
		max-width: 100%;
		padding-left: 0px;
		padding-right: 0px;

		.orderColumn {
			padding-top: 0px;
		}

		.custom-padding {
			padding-left: 0;
			padding-right: 0;
		}

		.custom-padding-left {
			padding-left: 0;
			padding-right: 7.5px;
		}
		.custom-padding-right {
			padding-right: 0;
			padding-left: 7.5px;
		}
	}

	h1, h4 {
		text-align: center;
		padding-top: 40px;
	}

	.col-form {
		background-color: $grey_primary;
		padding-bottom: 20px;

		.wpb_single_image {
			margin-bottom: 50px;
		}

		h1 {
			margin-bottom: 20px;
			text-align: left;
			padding-left: 30px;
			padding-top: 0px;
			font-size: 30px;
		}
	}

	.common_question {
		text-align: center;

		padding-left: 20px;
		padding-right: 20px;

		max-width: 500px;
		margin-left: auto;
		margin-right: auto;

		h2 {
			font-weight: 700;
			font-style: italic;
			margin-top: 22px;
		}

		p {
			font-size: 16px;
			line-height: 26px;
		}
	}
}