.blog, .single-post {
	//background: $grey_light;

	main {
		margin-top: 10px;
	}

	.content {
		padding-bottom: $content_padding_bottom;
	}
}

article.post, .blog {
	// margin: 40px 0px;
	header  {
		background-repeat: no-repeat;
		background-size: cover;

		.header-overlay {
			background-color: rgba(0, 0, 0, 0.32);
			padding: 150px;

			@media (max-width:991px) {
				padding: 120px;
			}

			@media (max-width:768px) {
				padding: 100px;
			}

			@media (max-width:480px) {
	         	padding: 80px;
			}

		}
	}

	header.no-image  {
		background-image: none !important;
		background-color: gray;
		
		.header-overlay {
			background-color: rgba(0, 0, 0, 0);
		}	
	}
}

article.post .inside {

	.col-date, .col-info {
		//display: inline-block;
	}

	.col-date {
		//background-color: #f45;
		text-align: center;
		border-right: 1px solid $grey_secondary;

		span {
			font-family: $font_primary;
			color: #d6d6d6;
			text-transform: uppercase;
			text-align: center;
			display: block;
		}

		.month {
		    font-size: 17px;
		    line-height: 17px;
		    margin-bottom: 4px;
		    padding: 0px;
		    font-weight: 700;
		    letter-spacing: 2px;

			@media (min-width: 991px) and (max-width: 1199px) {
				margin-left: -10px;
			}
		}

		.day {
		    font-size: 30px;
		    line-height: 29px;
		    //padding: 0px 12px 0px 12px;
		    font-weight: 700;

			@media (min-width: 991px) and (max-width: 1199px) {
				margin-left: -10px;
			}
		}
	}

	.post-image, .post-info {
		display: inline-block;
	}

	.post-image {

	}

	.intro {
		@media (min-width: 400px) and (max-width: 991px) {
			display: inline-block;
		}
		.post-image {
			@media (min-width: 400px) and (max-width: 991px) {
				max-width: 100px;
				float: left;
				width: 15%;
			}
			@media (max-width: 399px) {
				padding-bottom: 15px;
				width: 100%;
				text-align: center;
				a {
					img {
						display: inline-block;
					}
				}
			}
		}
		.post-info {
			@media (min-width: 400px) and (max-width: 991px) {
				width: 85%;
				padding-left: 10px;
				float: left;
			}
		}
		
	}

	.post-info {
		//padding-left: 10px;
	}

	.gat-post-thumb {
		@media (min-width: 991px) {
			max-width: 100px;
			height: auto;
    		display: initial;
		}
		padding-right: 5px;
	}

	.col-info {
		//background-color: #fff;
		margin-bottom: 40px;
		border-bottom: 1px solid $grey_secondary;

		.meta-author, .meta-category, .meta-comment-count, time.updated {
			text-transform: uppercase;
			font-family: $font_primary;
			color: $black_secondary;
			letter-spacing: 2px;
			font-size: 12px;
			a {
				color: $black_secondary;
				&:hover {
					color: $black_primary;
				}
			}
		}

		time.updated {
			font-weight: 100;
			margin-top: 8px;
			margin-bottom: 5px;
			display: block;
		}
	}

	h2.entry-title {
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
		line-height: 18px;

		a {
			font-family: $font_primary;
			font-weight: 600;
			font-size: 23px;
			line-height: 18px;
			color: $black_secondary;
			margin-top: 0px;
			padding-top: 0px;
			@include doFadeTrans();

			&:hover {
				color: $black_primary;
			}
			&:focus, &:active {
				text-decoration: none;
			}
		}
	}

	.entry-summary {
		margin-top: 10px;
		margin-bottom: 50px;
		margin-left: 5px;

		a:hover {
			color: $black_primary;
		}
	}

}

// DISCUZ STYLING //
.theChampCommentingTabs {
	padding-top: 20px;
}
#theChampReplyTitle, #wc-comment-header {
	display: none !important;
}

.wc_comm_submit {
	border-radius: 0px;
	background-color: $green_primary;
	color: $white_primary;
	font-family: $font_primary;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	@include doFadeTrans();
	&:hover {
		background-color: $black_primary;
	}
}

.wc_comm_form {
	font-family: $font_primary;
	textarea {
		font-family: $font_primary;
	}
}

#wpcomm input[type="text"], #wpcomm input[type="email"], #wpcomm input[type="url"], #wpcomm textarea {
	font-family: $font_primary;
	font-size: 12px;
}

#wpcomm {
	.wc-field-name input[type="text"], .wc-field-captcha input[type="text"], .wc-field-email input[type="email"], .wc-field-website input[type="url"], .wc-field-captcha .wc-captcha-input input[type="text"] {
		font-size: 12px !important;
	}
}

.the_champ_sharing_title {
	font-family: $font_primary;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 5px;
}

.wc-label-comment-notify {
	font-family: $font_primary;
	font-size: 10px !important;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#wc_show_hide_loggedin_username span, .wpdiscuz-sort-buttons span {
	a {
		font-family: $font_primary;
	}
	font-family: $font_primary;
}

#wc-comment-header {
	padding-top: 10px;
}

.wc-blog-post_author.wc-comment-label, .wc-comment-text p {
	font-family: $font_primary;
}

.wc-comment-author a, .wc-reply-link, .wc-share-link {
	font-family: $font_primary;
	//font-weight: 600 !important;
}

/* BLOG/NEWS PAGE */

.blog {
	header.news-header {
		.entry-title {
			text-transform: none;
			font-size: 50px;
			font-style: italic;
			color: $white_primary;
			font-family: $font_primary;

			@media (max-width:991px) {
					font-size: 40px;
			}

			@media (max-width:768px) {
					font-size: 30px;
			}

			@media (max-width:480px) {
					font-size: 25px;
			}
		}

		span {
			padding: 20px 0;
			display: inline-block;
			color: $white_primary;
			font-family: $font_primary;
			padding: 0 4px;
			a {
				color: $white_primary;
			}
		}
	}


}


/* SINGLE POST */
.single-post {

	.updated {
		font-family: $font_primary;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $white_primary;

	}

	.entry-title {
		text-transform: none;
		font-size: 50px;
		font-style: italic;
        color: $white_primary;
		font-family: $font_primary;

		@media (max-width:991px) {
	         	font-size: 40px;
		}

		@media (max-width:768px) {
	         	font-size: 30px;
		}

		@media (max-width:480px) {
	         	font-size: 25px;
		}
	}

	.entry-content {
		// border-top: 1px solid #eaeaea;
        padding-top: 30px;
		p {
			font-family: $font_primary;
			font-size: 13px;
		}
	}

	.byline.author.vcard {
		padding-top: 5px;
		color: $white_primary;

		a {
			color: $white_primary;

		}
		//border-bottom: 1px solid $grey_secondary;
	}

	li.theChampSelectedTab {
		border-color: #00b38f;
	}

	.post-image {
		max-width: 100%;
		height: auto;
		max-height: 400px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.author-wrapper {
		padding-left: 0px;
		padding-right: 0px;
	}

	.author-box {
		background-color: #f9f9f9;
		border: 1px solid #ececec;
		padding: 18px;
		margin-top: 15px;
	}

	.author-content {

		h4 {
			font-family: $font_primary;
			//font-weight: 600;
			margin-top: 0px;
			color: $black_secondary;
			span {
				font-weight: 100;
				color: $black_secondary;
			}
		}

		.author-social {
			padding: 10px 0;
			 
			a {
				width: 27px;
				height: 27px;
				display: inline-block;
				text-align: center;
				color: $white_primary;
				background: $grey_primary;
				padding: 4px;

				@include doFadeTransFast();

				&:hover {
					background: $black_primary;
				}
			}
		}

		.follow-text {
			font-family: $font_primary;
			color: $grey_primary;
			font-size: 9px;
			letter-spacing: 2px;
			text-transform: uppercase;
			line-height: 28px;
		}


		span.fn {
			font-family: $font_primary;
		}
	}

	#wpcomm {
		select {
			background: $white_primary !important;
		}

		input, textarea {
			&:focus {
				outline: none;
			}
		}

		.wpdiscuz-subscribe-form-button input[type="submit"] {
			min-height: 28px!important;
    		height: 28px!important;
			padding: 1px 3px 4px 3px!important;
			background: $white_primary;
			@include doFadeTrans();

			&:hover {
				background: $grey_secondary;
			}

			&:focus {
				outline: none;
			}
		}
	}


	.wc-form-wrapper, .wpdiscuz-front-actions, .wpdiscuz-subscribe-bar {
		background: none !important;
		background-color: #f9f9f9 !important;
	}

	.wpdiscuz-sort-button-active, .wc-comment-author a {
		color: $green_primary !important;
	}

	.wpdiscuz-sort-button {
		@include doFadeTrans();

		&:hover {
			color: $green_primary !important;
		}
	}

	.wc-comment-left .wc-comment-label {
		background: $green_primary !important;
	}

	@media (max-width: 767px) {

		.author-box {
			text-align: center;
		}

		#author-avatar {
			margin-left: auto;
			margin-right: auto;
		}
	}
}