.cta_wrapper {

	background-color: $grey_secondary;
	//height: 400px;
	width: 100%;
	// margin-top: 80px;
	text-align: center;

	&.white {
		

		.bg-para {
			width: 100%;
			height: 200%;
			position: absolute;
			z-index: 0;
			left: 0;
			top: 0;
		}

		.cta_overlay {
			background-color: $white_primary;
			opacity: 0.88;
			top: 0;
			left: 0;
			border-top: 1px solid $grey_secondary;
		}

		.cta_content.border {
			border-color: #a7a7a7 !important;
		}
	}

	&.black {

		.cta_overlay {
			background-color: $black_secondary;
			opacity: 0.88;
		}

		.cta_content.border {
			border-color: $grey_primary;
		}

		.cta_content p {
			color: $white_primary;
		}

	}

	&.grey {
		.cta_overlay {
			background-color: $grey_secondary;
			opacity: 0.96;
		}

		.cta_content.border {
			border-color: #a7a7a7;
		}
	}

	.cta_content {
		margin: 80px 0;
		//margin-top: 75px;
		padding: 30px 0;
		padding-top: 20px;
		position: relative;
		z-index: 1;

		max-width: 700px;
		margin-left: auto;
		margin-right: auto;

		border: 1px solid transparent;

		p {
			font-size: 24px;
			line-height: 32px;
			padding-bottom: 6px;
			color: $black_primary;
		}

		p {
			@include doHStyle();
			padding-bottom: 1px;
			font-size: 18px;
		}
	}

	.btn_main {
		color: transparent !important;
	}

	.cta_overlay {
		background-color: $white_primary;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 0;
		opacity: 0.88;
		left: 0;
	}
}