.ms-footer {

	background-color: $green_primary;
	@include doFadeTrans();

	.row {
		padding: 30px 0;
		padding-top: 40px;
		@media (max-width: 767px) {
			//padding: 40px 0;
			//padding-top: 30px;
		}
	}

	h4 {
		font-family: $font_primary;
		color: $grey_primary;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 12px;
		letter-spacing: 2px;
		margin-bottom: 20px;
		line-height: 32px;

		@media (max-width: 767px) {
			margin-bottom: 4px;
		}
	}

	p, a {
		color: $grey_secondary;
		font-size: 12px;
		font-family: $font_primary;
		letter-spacing: 1px;
	}

	.footer-gat-logo {
		img {
			max-width: 120px;
			margin-top: 5px;
		}
	}

	.footer-social {
		a {
			display: inline-block;
			width: 28px;
			height: 28px;
			text-align: center;
			color: $black_primary;
			//border-radius: 45px;
			background: $white_primary;
			font-size: 18px;
			margin-right: 6px; 
			padding: 2px 6px 2px 6px;
			@include doFadeTrans();
			&:hover {
				background: $grey_secondary;
			}
		}
	}

	.footer-second {
		text-align: left;

		ul.footer-menu {
			li {
				list-style: none;
				text-transform: capitalize;
				text-decoration: underline; 

				a {
					text-decoration-color: $white_primary;
					text-decoration: underline;
				}

				&.current-menu-item {
					font-weight: 600;
				}
			}

		}
	}

	.footer-third {
		text-align: right;
	}


	.footer-fourth {
		.footer-email {
			text-decoration: underline;
		}
	}

	.sub-footer {
		background: $brown_primary;
		padding: 17px;
		color: $white_primary;
		font-size: 13px;

		@media (max-width: 768px) {
			padding-bottom: 80px;
		}
	}

	#slide-top {
		display: none;
		width: 40px;
		height: 0;
		padding-top: 40px;
		z-index: 99999;
		position: fixed;
		bottom: 80px;
		right: 20px;
		cursor: pointer;
		background: $white_primary url(../images/icon_arrow_top_lg_black.png) center center no-repeat;
		border: 1px solid $white_primary;
		box-shadow: 0 0 10px rgba(0,0,0,.5);
		overflow: hidden;
		@include doFadeTrans();
	}

	@media (max-width: 767px) {

		.row {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		img {
			margin-left: auto;
			margin-right: auto;
		}

		.footer-first, .footer-second, .footer-third, .footer-fourth {
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 10px;
		}

		.footer-first {
			padding-top: 0;
			img {
				float: none !important;
				text-align: center;
			}
		}

		.footer-second {
			ul.footer-menu {
				padding-left: 0px;
			}
		}


		.footer-fourth {
			text-align: left;
		}
		text-align: center;
	}
}

&.display-amorini {
	.ms-footer {
		@include doFadeTrans();
		padding-left: 320px;
		margin-right: -320px;
	}
}

#amorini-toggle {
	display: block;
	padding: 10px;
	background-color: $black_primary;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	position: fixed;
	left: 0;
	bottom: 5%;

	@media (min-width: 992px) {
		display: block;
		margin-top: -90px;
		padding: 50px 10px 10px;
		background-image: url(../images/icon_arrow_featured_right.png);
		background-position: center 10%;
		background-repeat: no-repeat;
		-webkit-border-radius: 0 3px 3px 0;
		border-radius: 0 3px 3px 0;
		cursor: pointer;
		position: fixed;
		left: 0;
		top: 50%;
		bottom: auto;
	}

}

#amorini-data {
	width: 320px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -320px;
	background-color: $black_primary;
	color: $white_primary;
	font-family: Roboto,Arial,Helvetica,sans-serif;
	font-weight: 300;
	overflow-y: auto;
	z-index: 99999;
	@include doFadeTrans();

	.inner {
		padding: 35px;
		position: relative;
	}

	h2 {
		text-align: left;
		background: none;
		padding-top: 10px;
	}

	p {
		text-align: left;
	}

	.text-right {
		text-align: right;
	}
	span {
		text-align: left;
		font-family: $font_secondary;
		font-weight: 300;
		font-size: 16px;
		letter-spacing: 0px;
	}

	.btn-amorini {
		text-align: left;
		background-color: #6684a3;
		border-color: #6684a3;
		font-weight: bold;
		border-radius: 4px;
		letter-spacing: 0px;
		padding: 18px 37px;
		font-size: 16px;
		font-family: $font_secondary;
		background-image: url(../images/icon_arrow_right.png);
		background-position: 95% center;
		background-repeat: no-repeat;

		&:hover, &:focus {
			background-color: #415469;
			border-color: #415469;
		}
	}
}

#amorini-overlay {
	display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 99999;
	@include doFadeTransSlow();
}

.display-amorini {

	#amorini-data {
		left: 0;
		@include doFadeTrans();
	}

	#amorini-overlay {
		display: block;
		@include doFadeTransSlow();
	}
}