nav.mobile-nav {
  background: $white_primary;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -65vw;
  font-size: 15px;
  top: 0;
  width: 65vw;
  z-index: 2000;
  @include doFadeTrans();
  .menu-item {
    text-transform: uppercase;
    list-style: none;

    a {
      color: $black_primary !important;
      &:hover {
        color: $white_primary !important;
        background-color: $grey_secondary !important; 
      }
    }

    .sub-menu {
      li {
        position: relative;
        display: block;
        width: 100%;
        a {
          display: block;
          padding: 10px 15px;
          color: $black_primary !important;

          &:before {
            content: "-";
            position: absolute;
            left: 0px;
            font-size: 23px;
            line-height: 16px;
            font-weight: bold;
          }
        }
      }
    }
    
  }
}

.nav-expanded nav.mobile-nav {
  right: 0em;
}

.nav-expanded .nav-expander {
  margin-right: 65vw;
}

.nav-expanded .navbar {
  margin-left: -65vw;
}

.nav-expander {
  color: $black_primary;
  display: block;
  position: absolute;
  background-color: $black_primary;
  right: -16px;
  top: 0;
  height: 80px;
  width: 80px;
  margin-right: 0;
  text-decoration: none;
  z-index: 9999;
  @include doFadeTrans();

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
 
.navbar {
  height: 80px;
  background: $white_primary;
  margin-bottom: 0;
  @include doFadeTrans();

  .navbar-brand {
    height: 80px;
    padding: 0;
    padding-top: 23px;
    > img {
      max-width: 130px;
    }
  }
}


.overlay-shadow {
    z-index: 1000;
    background: $slick_arrow_bg;
    position: fixed;
    width: 200%;
    height: 200%;
    opacity: 0;
    left: -200px;
    top: -200px;
    pointer-events: none;
    @include doFadeTrans();
}

.nav-expanded .overlay-shadow { 
    pointer-events: all;
    opacity: 1;
    @include doFadeTrans();
}

