#masthead {
	background-color: #eeeded;
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;

	.topbar {
		// width: 100vw;
		// margin-left: -30px;
		background: $brown_primary;

		.row {

			.topbar-email, .topbar-insta {
				padding-top: 5px;
				padding-bottom: 5px;
				@media (max-width: 768px) {
					text-align: center;
					padding-top: 0;
					padding-bottom: 0;
				}
			}

			.topbar-email {
				@media (min-width: 767px) and (max-width: 991px) {
					text-align: left;
					padding-top: 0;
					padding-bottom: 0;
				}
			}

			.topbar-insta {
				.fa-instagram {
					color: $white_primary;
					font-size: 16px;
					padding-right: 7px;
					margin-top: 3px;
					position: absolute;
					margin-left: -20px;
				}
				@media (min-width: 767px) and (max-width: 991px) {
					text-align: right;
					padding-top: 0;
					padding-bottom: 0;
				}
			}

			

			p {
				margin-bottom: 0;
				color: $white_primary;
				font-size: 13px;
				letter-spacing: 0px;

				&:hover {
			         color: $white_primary;
		        }
			}

			a {
				text-transform: lowercase;
				color: $white_primary;
				text-decoration: underline;
				font-size: 13px;
				letter-spacing: 0px;
				font-weight: 400;

				&:hover {
					color: $white_primary;
				}
			}

			@media (max-width: 991px) {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}


		@media (max-width: 991px) {
			// margin-left: -7.5px;
			margin-left: 0;
		}

	}

	a {
		font-family: $font_primary;
		color: $link_color;
		@include doFadeTransFast();

		letter-spacing: 2px;
		text-transform: capitalize;
		font-weight: 100;

		
		&:hover {
			color: $link_color;
		}
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background-color: transparent;
	}


	.nav-primary {

		.nav-wrapper {
			position: relative;
		}

		.logo-outer {

			.logo-wrapper {


				button.navbar-toggler {
					position: absolute;
					top: 0;
					left: 97px;
					padding: 25px;
					border: none;
					background: transparent;
					font-size: 18px;

					&:focus {
						outline: none;
					}

					@media (max-width: 615px) {
						left: 23px;
						top: 0;
						padding: 24px;
					}

					@media (max-width: 543px) {
						top: 0;
						left: 25px;
						padding: 20px;
					}


				}

				a {
					display: block;
					padding-top: 15px;
					@include doFadeTransFast();

					@media (max-width: 991px) {
						padding-top: 0;
					}

					@media (max-width: 767px) {
						height: 75px !important;
					}

					@media (max-width: 543px) {
						height: 65px !important;
					}
				}

				#site-logo {
					// max-width: 150px;
					@include doFadeTransFast();
					@media (min-width: 768px) and (max-width: 991px) {
						max-width: 110%;
					}
					

					@media (max-width: 767px) {
						width: 243px;
						display: inline-block;
					}
					@media (max-width: 543px) {
						width: 180px;
					}
				}

				@media (max-width: 991px) {
					height: $header_height;
					display: table;

					@include doFadeTrans();
					a {
						display: table-cell;
						height: $header_height;
						@include doFadeTrans();
						
						vertical-align: middle;
					}
				}

				@media (max-width: 767px) {
					height: 65px !important;
					text-align: center;
					width: 100%;
				}
				
			}

			// @media (min-width: 768px) and (max-width: 991px) {
			// 	margin-left: 30px;
			// }
		}
		
		.main-menu {
			text-align: right;

			.menu-primary-container {
				display: inline-block;
				height: $header_height;
				@include doFadeTrans();

				#menu-primary {
					display: table;
					height: $header_height;
					@include doFadeTrans();
					
					li {
						display: table-cell;
						height: $header_height_extras;
						vertical-align: middle;
						font-size: 12px;
						
						font-weight: bolder;
						@include doFadeTrans();
						text-transform: uppercase;

						a {
							height: $header_height_extras;
							padding: 36px 20px 15px;
							font-size: 18px;
							font-weight: normal;
							letter-spacing: -0.5px;
							
							border-left: 0;
                            border-left: 1px solid $header_border;

							&:hover {
								background-color:$header_border;
							}
							@media (max-width: 767px) {
								font-size: 16px;
								letter-spacing: normal;
								border: none !important;
								border-top: 1px solid $header_border !important;
							}
						}

						&.current-menu-item {
							background-color:$header_border;
						}

						.sub-menu {
							position: absolute;
							pointer-events: none;
							opacity: 0;
							top: $header_height_extras;
							z-index: 1;
							background: $white_primary;
							box-shadow: 0 2px 2px $menu_shadow;
							padding: 0;
							width: 195px;
							@include doFadeTrans();

							li {
								display: block;
								height: auto;

								a {
									display: block;
									padding: 15px;
									text-align: left;
									color: $black_primary;
									font-weight: 400;
									
									white-space: normal;

									&:hover {
										color: $grey_primary;
									}
								}
							}
						}

						&.menu-item-has-children {
							> a {
								&:after {
									content: "\f107";
									font-family: FontAwesome;
									padding-left: 8px;
								}
							}
						}

						@media (max-width: 767px) {
							display: block;
							height: auto;
							a {
								height: auto;
								padding: 7px 13px;
							}
						}
					}

					> li {
						&:hover {
							> .sub-menu {
								pointer-events: all;
								opacity: 1;
								@include doFadeTrans();
							}
						}
					}
					li:last-child a{
						border-right: 1px solid $header_border;
					}

					@media (max-width: 767px) {
						width: 100%;
						border: none;
					}

				}

				@media (max-width: 767px) {
					width: 100%;
					height: auto;
				}
			}

			.search-toggle-icon {
				display: table;
				float: right;
				height: $header_height_extras;
				padding-left: 10px;
				cursor: pointer;
				@include doFadeTrans();

				div {
					display: table-cell;
					vertical-align: middle;
					color: $black_secondary;
					@include doFadeTrans();

					&:hover {
						color: $black_primary;
					}
				}
			}

			@media (min-width: 767px) {
				float: right;
			}

			@media (max-width: 767px) {
				text-align: initial;
			}

			@media (max-width: 650px) {
				padding: 0;
				width: 100vw;
				margin-left: 0;
			}
		}

		.search-box {
			font-family: $font_primary;
			position: absolute;
			width: 100%;
			left: 0;
			height: $header_height;
			@include doFadeTransFast();
			opacity: 0;
			pointer-events: none;

			input {
				width: 100%;
				height: $header_height_extras;
				margin-top: 0px;
				padding-left: 25px;
				font-size: 42px;
				color: $black_primary;
				background: $white_primary;
				border: none;
				@include doFadeTrans();

				&:focus {
					outline: none;
				}
			}

			.search-close {
				position: absolute;
				right: 14px;
                top: calc(50% - 11px);
				color: $black_primary;
				cursor: pointer;
				line-height: initial;  
				font-size: 20px;
			}

			::-webkit-input-placeholder {
				color: $black_primary;
			}
			::-moz-placeholder {
				color: $black_primary;
			}
			:-ms-input-placeholder {
				color: $black_primary;
			}
			:-moz-placeholder {
				color: $black_primary;
			}
		
			&.active {
				opacity: 1;
				pointer-events: all;
			}
		}

	}

	&.sticky {

		border-bottom: 1px solid $header_border;

		.nav-primary {

			.logo-wrapper {

				a {
					display: block;
					padding-top: 23px;
				}

				#site-logo {
					max-width: 135px;
				}
			}

			.main-menu {
				text-align: right;

				.menu-primary-container {
					@include doFadeTrans();
					height: $stickey_header_height !important;

					#menu-primary {
						@include doFadeTrans();
						height: $stickey_header_height !important;

						li {
							@include doFadeTrans();
							height: $stickey_header_height_extras !important;

							.sub-menu {
								@include doFadeTrans();
								top: $stickey_header_height_extras !important;
							}
						}

					}
				}

				.search-toggle-icon {
					@include doFadeTrans();
					height: $stickey_header_height_extras !important;
				}
			}

			.search-box {
				@include doFadeTrans();
				height: $stickey_header_height !important;		

				input {
					height: $stickey_header_height_extras !important;		
				}	
			}

		}
	}
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	height: 2px;
}