/* Page style */

 .page {

        .page-header {
            margin: 30px 0;
            border-bottom: 1px solid $green_secondary;

            .page-title {
                text-align: center;
                margin-bottom: 0;

                h2 {
                    color: $green_primary;
                    font-size: 3.9rem;
                    padding-bottom: 1.5rem;
                    font-weight: normal;
                }
            }

            @media(max-width: 1199px) {
                margin-top: 10px;
            }
            @media(max-width: 464px) {
                margin-top: 0;
                margin-bottom: 25px;
            }
        }


        .wpb_text_column {
            margin-bottom: 10px;
        
        }
        .divider-1 {
            border-bottom: 1px solid $green_secondary;
            margin-bottom: 40px;
            margin-top: 25px;
        }

        .text-block {
            h2, p {
                color: $white_primary;
            }
        }

        .orderColumn {
            h2 {
                padding-top: 0px;
                padding-bottom: 15px;
                color: $brown_primary;
                font-size: 22px; 
                font-weight: 300;
                
                @media (max-width: 768px) {
                    padding-top: 10px;
                }
            }

            p {
                font-size: 16px;
            }
        
        }
        
        h2 {
            margin-top: 0px;
            padding-top: 20px;
            padding-bottom: 25px;
            background: url(../images/header_border.gif) left bottom no-repeat;
            border-bottom: 0 none;
            font-size: 1.875em;
            font-weight: 600;
        }

        h4 {
            padding-bottom: 4px;
            padding-top: 2px;
        }

       .downloadable {
           a {
               color: $brand-primary;
               text-decoration: underline;
               &:hover {
					color:$link_hover;
				}
           }
        }
	
}