.sidebar {
	@media (max-width: 991px) {
	    width: 100%;
	}

	.gat-sidebar {

		@media (min-width: 992px) {
			padding-left: 25px;
		}

		section.widget {
			margin-top: 30px;
		}

		h3 {
			font-family: $font_primary;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 12px;
			color: $black_secondary;
			padding-bottom: 8px;
			border-bottom: 1px solid $grey_secondary;
		}

		ul {
			list-style: none;
			padding-left: 0px;
		}

		ul li {
			font-family: $font_primary;
			font-size: 15px;
			color: $black_secondary;
			padding-bottom: 12px;
		}

		a:hover {
			color: $black_primary;
		}


		input.search-field {
			padding: 10px !important;
			border: 0px;
			border-bottom: 1px solid #fff;
			font-family: $font_primary;
			font-weight: 400;
			font-size: 12px;
			line-height: 22px;
			color: #555;
			background-color: #efefef;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
			border-radius: 0px;

			//padding-right: 75px!important;
			border-radius: 0px 2px 2px 0px;
			margin: 0!important;

			height: 40px;

			display: inline-block;

			&:focus {
				background-color: #ebebeb;
				outline: none;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
				border-bottom: 1px solid #fff;
			}
		}

		input.search-submit {
			background-color: $black_secondary;
			color: $white_primary;
			font-family: $font_primary;
			font-size: 12px;

			height: 40px;

			top: 0px;

			border-radius: 0px !important;

			@include doFadeTrans();

			&:hover {
				background-color: $black_primary;
				color: $white_primary;
			}
			line-height: 22px;
			padding: 10px 11px;

		}


		.search-form {
			// position: relative;
			display: block;
			width: 100%;
			label {
				display: inline-block;
				width: 75%;

				span.screen-reader-text {
					display: none;
				}
				input.search-field {
					width: 100%;
				}
				
				@media (max-width: 330px) {
					width: 70%;
				}

			}
			.search-submit {
				margin-left: -5px;
				margin-top: -2px;
				width: 25%;
				line-height: initial;
				background-color: $black_secondary;

				&:focus {
					outline: none;
					background-color: $black_primary;
					border-color: #8c8c8c;
				}

				@media (max-width: 330px) {
					width: 30%;
				}
			}
		}
	}


}